body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.content{
  display: flex;
}

.info{
  width: 25%;
  float: left;
}

.fields input { 
  width: 50%;
}

.board-container{
  width: 75%;
  float: left;
}

.gen-counter{
  text-align: center;
  margin-left: 50px;
}

.board{
  text-align: center;
  padding-top: 20px;
  margin-left: 50px;
  /* background-color: #c3c3c3; */
}
.board canvas{
  border: solid 2px rgb(50,50,50);

}

.buttons{
  margin-top: 20px;
}

